.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.flex {
  display: flex;
  justify-content: space-around;
}

button, input {
  background-color: rgba(255,255,255,0.5);
  border:1px solid white;
  color:white;
  border-radius: 5px;
  padding:5px;
}